:root {
  --c-text: #f4f4f4;
  --c-bg: #242420;
  --c-separator: #444444;
  --c-hover-text: var(--c-text);
  --c-hover-bg: #444444;
  --c-active-bg: #555555;
  --c-disabled-text: #888888;
  --c-focus-border: var(--c-text);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  color: var(--c-text);
  background: var(--c-bg);
  line-height: 1.5;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 16px;
}

.button {
  margin: 4px;
  padding: 6px 12px;
  border-radius: 8px;
  font: inherit;
  color: var(--c-text);
  background-color: var(--c-bg);
  border: 2px solid var(--c-text);
  cursor: pointer;
  outline: none;
  transition:
    background-color 0.15s ease-in-out,
    outline 0.05s linear;
}
.button:not(:disabled):hover {
  background-color: var(--c-hover-bg);
}
.button:not(:disabled):active {
  background-color: var(--c-active-bg);
}
.button:disabled {
  border: 2px solid var(--c-disabled-text);
  color: var(--c-disabled-text);
  cursor: auto;
}
.button:focus-visible {
  outline-offset: 2px;
  outline: 2px solid var(--c-focus-border);
}
